.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  background-color: #efefef;
  margin-bottom: 30px;
}
.title {
  font-size: 24px;
  font-weight: normal;
}
