body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.grid {
  display: flex;
  flex-direction: column;
  margin: 0 4%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.input {
  height: 40px;
  width: 40%;
}
.inputContianer {
  display: flex;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .row {
    flex-direction: column;
  }
  .input {
    width: 100%;
  }
}
