.characterCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  color: #fff;
  font-weight: 600;
  max-width: 23%;
  margin: 0 15px 15px 0;
  font-size: 24px;
}
.responsiveImg {
  max-width: 100%;
  display: block;
  height: auto;
}
.name {
  position: absolute;
  top: 0;
  min-height: 70px;
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(0, 0, 0));
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .characterCard {
    width: 100%;
  }
  .characterCard {
    max-width: 100%;
  }
}
